/*---------- Initialisation du HTML ----------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

/*---------- Partie du Header ----------*/

.backgroundImage {
    background-image: url("../img/header-brasserie-biere.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nav {
    top: 0px;
}

.logoMobile {
    width: 8%;
}

.title1 {
    position: absolute;
    font-weight: 500;
    color: white;
    top: 12vh;
}

.title2 {
    position: absolute;
    font-weight: 500;
    color: white;
    top: 38vh;
}

.logoDesktop {
    height: 200px;
}

@media screen and (min-width:768px) {
    #header{
        display:flex;
        align-items:center;
        justify-content:center;
        height:30vh;
        background-color: #333;
    }
    .navbar{
        display:none;
    }
    #cartContainer{
        position: fixed;
        display: flex;
        height: 50px;
        width: 100px;
        background-color:#212529;
        top:25px;
        right:25px;
    }
    #burgerContainer{
        position: fixed;
        height:50px;
        width: 100px;
        background-color:#212529;
        top:25px;
        left:25px;
    }
    .backgroundImage {
        height: 70vh;
    }
    .title1 {
        position: absolute;
        top: 25vh;
        left: 15vh;
    }
    .title2 {
        position: absolute;
        top: 40vh;
        right: 15vh;
    }
}

@media screen and (max-width:767px) {
    #header > img{
        display:none;
    }
    #cartContainer > button{
        display:none;
    }
    #burgerContainer > button{
        display:none;
    }
}

.addButtons > button {
    border-radius:100px;
    background-color:black;
    color:white;
    width:30px;
}

.addButtons {
    display:flex;
    justify-content:center;
    
}

.addButtons > .displayAmount {
    margin-left:10px;
    margin-right:10px;
}

.priceCapacity {
    display:flex;
    justify-content:space-around;
}

.beerName {
    text-align:center;
    font-weight:700;
}

.beerType {
    text-align:center;
}

.beerSpecsContainer {
    height:50%;
}

@media screen and (max-width:767px) {
    #header > img{
        display:none;
    }
    #cartContainer > button{
        display:none;
    }
    #burgerContainer > button{
        display:none;
    }
}

/*---------- Partie du Main ----------*/

.beer {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 10px solid white;
    background-color: red;
    height: 40vh;
}

/*---------- Partie du Footer ----------*/

.blankFooter {
    height:175px;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 100%;
    position:fixed;
    margin: 0;
    bottom: 0;
    background-color: black;
    transition: transform 0.4s;
}

.facebookLogo {
    height: 50px;
    width: 50px;
    filter: brightness(0) invert(1);
}

.instaLogo {
    height: 50px;
    width: 50px;
    filter: brightness(0) invert(1);
}

.scroll-down .footer {
    transform: translate3d(0, 100%, 0);
}

.scroll-up .footer {
    transform: none;
}

@media screen and (min-width:767px){
    .footer{
        height: 120px;
    }
    .blankFooter {
        height: 120px;
    }
}