html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#nav{
    top: 0px;
}

@media screen and (min-width:768px){
    .navbar{
        display:none;
    }
}

@media screen and (min-width:768px){
    #header{
        width:100vw;
        height:230px;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color: #333
    }
    #header > img{
        height:200px;
    }
}

@media screen and (max-width:767px){
    #header > img{
        display:none;
    }
    #cartContainer > button{
        display:none;
    }
    #burgerContainer > button{
        display:none;
    }
}

#backgroundImage {
    background-image: url("../img/header-brasserie-biere.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.logoMobile {
    width: 8%;
}

#title1 {
    font-weight: 500;
    bottom: 30%;
}

#title2 {
    font-weight: 500;
}

.beer {
    height: 40vh;
    border: 10px solid white;
    /*padding: 10%;*/
    background-color: red;
}

#footer{
    display: flex;
    justify-content: center;
    bottom: 0;
    position:fixed;
    height: 175px;
    width: 100vw;
    background-color: black;
    transition: transform 0.4s;
}

#blankFooter{
    height:175px;
    width:100vw;
}

@media (min-width: 992px){
    #footer{
        width: 100vw;
    }
}

#fb{
    height: 50px;
    width: 50px;
    filter: brightness(0) invert(1);
}

#ig{
    height: 50px;
    width: 50px;
    filter: brightness(0) invert(1);
}

.scroll-down #footer {
    transform: translate3d(0, 100%, 0);
}

.scroll-up #footer {
    transform: none;
}

@media screen and (min-width:767px){
    #cartContainer{
        position: fixed;
        height:50px;
        width: 100px;
        background-color:#212529;
        top:25px;
        right:25px;
    }
    #burgerContainer{
        position: fixed;
        height:50px;
        width: 100px;
        background-color:#212529;
        top:25px;
        left:25px;
    }
}

